<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/header::header-fragment"></head>
<body class="hold-transition sidebar-mini">
<link rel="stylesheet" th:href="@{/admin/dist/plugins/editormd/css/editormd.css}">
<link rel="stylesheet" th:href="@{/admin/dist/css/select2.min.css}">
<div class="wrapper">
    <!-- 引入页面头header-nav -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/siderbar::sidebar-fragment('historicalViews')"></div>
    <!-- Content Wrapper. Contains page content -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">       
      </div><!-- /.container-fluid -->
    </section>

        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <!--<i class="fas fa-edit"></i>-->
                        网站数据
                    </h3>
                </div>
                <div class="card-body">
                    <!--<h4>Custom Content Below</h4>-->
                    <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="HISTORICAL_VIEWS" data-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="custom-content-below-home" aria-selected="true">浏览量</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="BLOG_NUM" data-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="custom-content-below-messages" aria-selected="false">博客数</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="LIKE_NUM" data-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="custom-content-below-settings" aria-selected="false">点赞数</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="custom-content-below-tabContent">
                        <div class="tab-pane fade show active" id="custom-content-below-home" role="tabpanel" aria-labelledby="custom-content-below-home-tab">
                            <div id="viewChart" style="width: 600px;height:400px;"></div>
                        </div>
                        <!--<div class="tab-pane fade" id="custom-content-below-profile" role="tabpanel" aria-labelledby="custom-content-below-profile-tab">-->
                            <!--&lt;!&ndash;<canvas id="viewChart" width="100%" height="100%"></canvas>&ndash;&gt;-->
                        <!--</div>-->
                        <!--<div class="tab-pane fade" id="custom-content-below-messages" role="tabpanel" aria-labelledby="custom-content-below-messages-tab">-->
                            <!--&lt;!&ndash;<canvas id="2" width="100%" height="100%"></canvas>&ndash;&gt;-->
                        <!--</div>-->
                        <!--<div class="tab-pane fade" id="custom-content-below-settings" role="tabpanel" aria-labelledby="custom-content-below-settings-tab">-->
                            <!--&lt;!&ndash;<canvas id="3" width="100%" height="100%"></canvas>&ndash;&gt;-->
                        <!--</div>-->
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    <!-- /.content -->
  </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="admin/footer::footer-fragment"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script th:src="@{/admin/dist/js/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/dist/js/bootstrap.bundle.min.js}" ></script>
<!-- FastClick -->
<script th:src="@{/admin/dist/js/fastclick.js}" ></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
<script th:src="@{/admin/dist/plugins/editormd/editormd.min.js}"></script>
<script th:src="@{/admin/dist/js/sweetalert.min.js}"></script>
<script th:src="@{/admin/dist/plugins/select2/select2.min.js}"></script>
<script th:src="@{/admin/dist/js/echarts.min.js}"></script>
<script th:src="@{/admin/dist/js/HistoricalViews.js}"></script>
</body>
</html>
