<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lb.lblog.dao.AdminMapper">
    <select id="findUserByName" parameterType="string" resultType="userInfo">
      select * from blog_user where email = #{userName}
    </select>
    <insert id="setUserView" parameterType="string">
      INSERT INTO blog_user_view(nick_name)VALUES(#{username})
    </insert>
    <insert id="register" parameterType="userInfo">
        INSERT INTO blog_user ( email, login_password, nick_name, login_role )
VALUES(#{email},#{loginPassword},#{nickName},#{loginRole})
    </insert>
    <select id="isRegistered" parameterType="string" resultType="int">
        select count(*) FROM blog_user WHERE nick_name = #{username} and status = 1
    </select>
    <update id="updateStatus" parameterType="string">
        UPDATE blog_user SET `status` = 1 WHERE nick_name = #{username}
    </update>
    <select id="getEmailByUserName" parameterType="string" resultType="string">
        SELECT email FROM blog_user WHERE nick_name = #{username}
    </select>
    <select id="isEmail" parameterType="string" resultType="int">
        SELECT COUNT(email) FROM blog_user WHERE email = #{email}
    </select>
</mapper>