<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lb.lblog.dao.BlogMapper">
    <insert id="saveBlogInfo" parameterType="blogInfo" useGeneratedKeys = "true" keyProperty = "id" keyColumn = "id">
        insert into blog_article_info(author,article_title) values (#{author},#{articleTitle})
    </insert>
    <insert id="saveBlogContent" parameterType="blogInfo">
        insert into blog_article_content(article_content,article_id)values(#{articleContent},#{articleId})
    </insert>
    <insert id="saveImageUrl" parameterType="blogInfo">
        insert into blog_article_image(article_id,image_url)values(#{articleId},#{imageUrl})
    </insert>

    <select id="blogList" resultType="blogInfo">
        SELECT
            blog_article_info.id,
            article_title,
            image_url,
            article_views,
            blog_article_info.create_by
        FROM
            ( blog_article_info LEFT JOIN blog_article_content ON blog_article_info.id = blog_article_content.article_id )
            LEFT JOIN blog_article_image ON blog_article_info.id = blog_article_image.article_id
        WHERE
            blog_article_info.is_delete = 0 And blog_article_info.author = #{username}
        ORDER BY
            blog_article_info.create_by DESC
            LIMIT #{offset},#{limit}
    </select>

    <select id="totalCount" resultType="int">
        select count(*) from blog_article_info WHERE blog_article_info.is_delete = 0 and author = #{username}
    </select>

    <select id="blogs" resultType="blogInfo">
        SELECT
            blog_article_info.id,
			author,
            article_title,
            image_url,
            GROUP_CONCAT( blog_sort.sort_name ) AS sorts,
            blog_article_info.create_by,
            article_views
        FROM
            (((
                        blog_article_info
                        LEFT JOIN blog_article_content ON blog_article_info.id = blog_article_content.article_id
                        )
                    LEFT JOIN blog_article_image ON blog_article_info.id = blog_article_image.article_id
                    )
                LEFT JOIN blog_info_sort ON blog_info_sort.article_id = blog_article_info.id
            )
            LEFT JOIN blog_sort ON blog_sort.id = blog_info_sort.sort_id
        WHERE
            blog_article_info.is_delete = 0
            AND blog_sort.is_effective = 1
        GROUP BY
            blog_article_info.id
        ORDER BY
            blog_article_info.create_by DESC
	</select>

    <select id="showBlog" parameterType="int" resultType="blogInfo">
             SELECT
        blog_article_info.id,
        blog_article_info.author,
        article_title,
        article_content,
        image_url,
        article_views,
        blog_article_info.create_by,
        blog_article_info.like_num,
        GROUP_CONCAT( blog_sort.sort_name ) AS sorts
        FROM
        (((
                    blog_article_info
                    LEFT JOIN blog_article_content ON blog_article_info.id = blog_article_content.article_id
                    )
                LEFT JOIN blog_article_image ON blog_article_info.id = blog_article_image.article_id
                )
            LEFT JOIN blog_info_sort ON blog_info_sort.article_id = blog_article_info.id
        )
        LEFT JOIN blog_sort ON blog_sort.id = blog_info_sort.sort_id
        WHERE
        blog_article_info.id = #{id}
    </select>

    <select id="findBlog" parameterType="int" resultType="blogInfo">
        SELECT
            blog_article_info.id,
            article_title,
            article_content,
            image_url
        FROM
            ( blog_article_info LEFT JOIN blog_article_content ON blog_article_info.id = blog_article_content.article_id )
            LEFT JOIN blog_article_image ON blog_article_info.id = blog_article_image.article_id
        WHERE
            blog_article_info.id = #{id}
    </select>

    <select id="getView" parameterType="int" resultType="int">
        SELECT article_views FROM blog_article_info WHERE id = #{id}
    </select>

    <select id="getUserTotalBlogs" resultType="int">
        SELECT COUNT(*) FROM blog_article_info WHERE blog_article_info.is_delete = 0 and author = #{username}
    </select>

    <select id="getTotalBlogs" resultType="int">
        SELECT COUNT(*) FROM blog_article_info WHERE blog_article_info.is_delete = 0
    </select>

    <select id="getRecentBlogs" resultType="blogInfo">
        SELECT id,article_title FROM blog_article_info WHERE blog_article_info.is_delete = 0 ORDER BY id DESC LIMIT 6
    </select>

    <update id="setView">
        UPDATE blog_article_info SET article_views = #{view} WHERE id = #{id}
    </update>

    <update id="update">
        UPDATE ( blog_article_info LEFT JOIN blog_article_content ON blog_article_info.id = blog_article_content.article_id )
        LEFT JOIN blog_article_image ON blog_article_info.id = blog_article_image.article_id
        SET article_title = #{articleTitle},article_content=#{articleContent},image_url=#{imageUrl} WHERE blog_article_info.id = #{id}
    </update>

    <insert id="saveComment" >
        insert into blog_article_comment(article_id,comment_name,comment) values (#{articleId},#{commentName},#{comment})
    </insert>

    <select id="getComments" parameterType="int" resultType="comment">
        SELECT
            blog_article_comment.id,
            comment_name,
            `comment`,
            blog_article_comment.create_by,
            replay,
            blog_article_replay.create_by AS replayCreateBy
        FROM
            blog_article_comment
            LEFT JOIN blog_article_replay ON blog_article_comment.id = blog_article_replay.comment_id
        WHERE
            article_id = #{articleId} AND blog_article_comment.is_delete = 0 ORDER BY blog_article_comment.create_by DESC
    </select>

    <select id="getTotalComments" resultType="int">
        SELECT
          COUNT( * )
        FROM
          blog_article_comment
        WHERE
          blog_article_comment.is_delete = 0
    </select>

    <select id="getUserTotalComments" resultType="int">
         SELECT
          COUNT( * )
        FROM
          blog_article_comment
        WHERE
          blog_article_comment.is_delete = 0
        AND article_id IN ( SELECT id FROM blog_article_info WHERE author =#{username} AND blog_article_info.is_delete = 0 )
    </select>

    <select id="commentList" resultType="comment">
             SELECT
        blog_article_comment.id,
        article_title,
        comment_name,
        `comment`,
        blog_article_comment.create_by,
        replay
        FROM
        ( blog_article_comment LEFT JOIN blog_article_replay ON blog_article_comment.id = blog_article_replay.comment_id )
        LEFT JOIN blog_article_info ON blog_article_info.id = blog_article_comment.article_id
        WHERE
        blog_article_comment.is_delete = 0
        AND blog_article_info.is_delete = 0
        AND author = #{username}
        ORDER BY
        blog_article_comment.create_by DESC
        LIMIT #{offset},#{limit}
    </select>

    <insert id="saveReplay">
        insert into blog_article_replay (comment_id,replay) values (#{id},#{replayComment})
    </insert>

    <update id="delBlog" parameterType="int">
        UPDATE blog_article_info SET blog_article_info.is_delete = 1 WHERE blog_article_info.id =#{id}
    </update>

    <update id="delComment" parameterType="int">
        UPDATE blog_article_comment SET blog_article_comment.is_delete = 1 WHERE blog_article_comment.id = #{id}
    </update>

    <insert id="writeHistoricalViews">
        INSERT INTO ${tableName}(views) VALUES (#{currentViews})
    </insert>

    <!--查询最近六天的历史访问量 -->
    <select id="getHistoricalViews"  parameterType="string" resultType="HistoricalViews" statementType="STATEMENT">
        select create_by ,views from ${tableName} where create_by >=DATE_SUB(CURDATE(),INTERVAL 6 DAY) ORDER BY create_by
    </select>

    <select id="getLikeStatus" resultType="userLike">
        SELECT * FROM blog_user_like WHERE blog_user_like.user_name= #{username} AND blog_user_like.article_id= #{articleId}
    </select>

    <update id="writeUserViews2DB">
        UPDATE blog_user_view SET view = #{view}  WHERE nick_name = #{username}
    </update>
</mapper>