<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lb.lblog.dao.SortMapper">

    <insert id="addSort" parameterType="string">
        insert into blog_sort(sort_name) values (#{sortName})
    </insert>

    <select id="sorts" resultType="sort">
       select id,sort_name,sort_number from blog_sort WHERE is_effective = 1 LIMIT #{offset},#{limit}
    </select>

    <select id="getTotalSorts" resultType="int">
        select count(sort_name) from blog_sort WHERE  is_effective = 1
    </select>

    <select id="getAllSorts" resultType="sort">
        select id,sort_name,sort_number from blog_sort WHERE sort_number>0 and is_effective = 1
    </select>

    <select id="editorSorts" resultType="sort">
        select id,sort_name,sort_number from blog_sort WHERE is_effective = 1
    </select>

    <insert id="sortToArticle" >
        insert into blog_info_sort(sort_id,article_id) values (#{sortId},#{articleId})
    </insert>

    <update id="updateSortNum" >
        update blog_sort
        <set>
            <if test="isDelete==1">
                sort_number = sort_number-1
            </if>
            <if test="isDelete==0">
                sort_number = sort_number+1
            </if>
        </set>
        where id = #{sortId}
    </update>

    <select id="sortBlog" parameterType="int" resultType="blogInfo">
           SELECT
        blog_article_info.id,
        article_title,
        image_url,
        blog_article_info.create_by
    FROM
        ( blog_article_info LEFT JOIN blog_info_sort ON blog_article_info.id = blog_info_sort.article_id )
        LEFT JOIN blog_article_image ON blog_article_info.id = blog_article_image.article_id
    WHERE
        blog_info_sort.article_id = blog_article_info.id
        AND blog_article_info.is_delete = 0
        AND blog_info_sort.sort_id = #{sortId} ORDER BY blog_article_info.create_by DESC
    </select>

    <update id="delSort" parameterType="int">
        update blog_sort set is_effective = 0 where id = #{id}
    </update>

    <select id="articleIdToSortId" parameterType="int" resultType="int">
         select sort_id FROM blog_info_sort WHERE article_id = #{articleId}
    </select>

</mapper>